<div class="iapp-emoji-image-wrap">
    <div class="iapp-share-close iapp-clickable"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/06/emoji-index/img/close-icon.svg" alt="close"></div>
    
    <img src="<%= image_url %>" alt="<%= name %>">
</div>

<div class="iapp-share-buttons">
    <a href="https://twitter.com/intent/tweet?url=<%=twitterShare%>&text=<%=encodedShare%><%= twitterShareImage %>" class="iapp-share-button iapp-share-twitter iapp-share-popup" target="_blank"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/06/emoji-index/img/twitter.svg" alt="Twitter share"></a>
    <a href="https://www.facebook.com/dialog/feed?display=popup&app_id=<%=fb_id%>&link=<%=fbShare%>&picture=<%=stillimage%>&name=&description=<%=encodedShare%>&redirect_uri=<%=fb_redirect%>" class="iapp-share-button iapp-share-facebook iapp-share-popup" target="_blank"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/06/emoji-index/img/fb.svg" alt="Facebook share"></a>
    <a href="<%= image_url %>" download="<%= image_url %>" class="iapp-share-button iapp-download"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/06/emoji-index/img/download-icon.svg" alt="Email share"></a>
</div>
