.iapp-page-wrap {
    @extend .group;
}

.iapp-page-info-wrap {
    padding: 2em;
    width: 100%;
}

.iapp-page-header {
    font-family: "Futura Today DemiBold", Arial, sans-serif;
}

.iapp-page-chatter {
    font-family: "Futura Today Normal", Arial, sans-serif;
}
